
	@font-face {
			font-family: 'proxima_nova_rgregular';
			src: url('../fonts/proxima_nova_regular.eot');
			src: url('../fonts/proxima_nova_regular.eot?#iefix') format('embedded-opentype'),
					url('../fonts/proxima_nova_regular.woff2') format('woff2'),
					url('../fonts/proxima_nova_regular.woff') format('woff'),
					url('../fonts/proxima_nova_regular.ttf') format('truetype'),
					url('../fonts/proxima_nova_regular.svg#proxima_nova_rgregular') format('svg');
			font-weight: normal;
			font-style: normal;

	}
	@font-face {
			font-family: 'proxima_nova_ltsemibold';
			src: url('../fonts/proxima_nova_semibold.eot');
			src: url('../fonts/proxima_nova_semibold.eot?#iefix') format('embedded-opentype'),
					url('../fonts/proxima_nova_semibold.woff2') format('woff2'),
					url('../fonts/proxima_nova_semibold.woff') format('woff'),
					url('../fonts/proxima_nova_semibold.ttf') format('truetype'),
					url('../fonts/proxima_nova_semibold.svg#proxima_nova_ltsemibold') format('svg');
			font-weight: normal;
			font-style: normal;

	}
	@font-face {
		font-family: 'ProximaNova-SemiboldIt';
		src: url('../fonts/ProximaNova-SemiboldIt.otf');
	font-weight: normal;
		font-style: normal;

}
	
	@font-face {
			font-family: 'proxima_nova_blblack';
			src: url('../fonts/proxima_nova_black.eot');
			src: url('../fonts/proxima_nova_black.eot?#iefix') format('embedded-opentype'),
					url('../fonts/proxima_nova_black.woff2') format('woff2'),
					url('../fonts/proxima_nova_black.woff') format('woff'),
					url('../fonts/proxima_nova_black.ttf') format('truetype'),
					url('../fonts/proxima_nova_black.svg#proxima_nova_blblack') format('svg');
			font-weight: normal;
			font-style: normal;

	}

	@font-face {
		font-family: 'SimpleJoys';
		src: url('../fonts/SimpleJoys.svg#SimpleJoys') format('svg'),
			url('../fonts/SimpleJoys.ttf') format('truetype'),
			url('../fonts/SimpleJoys.woff') format('woff');
		font-weight: normal;
		font-style: normal;
		}
		
		@font-face {
		font-family: 'simple_joys';
		src: url('../fonts/simple_joys.eot');
		src: url('../fonts/simple_joys.eot?#iefix') format('embedded-opentype'),
			url('../fonts/simple_joys.woff2') format('woff2');
		font-weight: normal;
		font-style: normal;
		}
		
		

	/* Reset css */
	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}
	.container{
		max-width: none;
	}
	/* Reset css End */
	.wrapper{
		max-width: 1440px;margin: 0 auto;     position: relative;
	}
	.wrapper .no-padding{
			padding-left: 0px;
			padding-right: 0px;
	}
	.wrapper .row{
		margin-right:0;
		margin-left:0;
	}
	.wrapper .Rectangle{
		height: 84px;
		background-color: #ffffff;
				padding: 21px 80px;
	}
	.Hilton_Worldwide_logo {
		width: 114px;
		height: 42px;
		object-fit: contain;
		}
		.Careers {
		width: 114px;
		height: 24px;
		font-family: 'proxima_nova_ltsemibold';
		font-size: 20px;
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color:  #3f3f3f;
		float: right;
		margin-left:8px;
		}
		/* Nav Icons */
		.nav-item a{
		width:128px;
		font-family: 'proxima_nova_rgregular';
		font-size: 16px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: center;
		color:  #3f3f3f !important;

	}

	.Group-3 {
		width: 18px;
		height: 16px;
		object-fit: contain;
		}.Group-2 {
		width: 17px;
		height: 17px;
		object-fit: contain;
		}.Group-2-Copy {
		width: 16px;
		height: 16px;
		object-fit: contain;
		}
		.rightNav {margin-left:94.5px;}
		.rightNav li{cursor: pointer;}
		.rightNav img{float: left;    margin-top: 3px;}
		.rightNav p{
		font-family: 'proxima_nova_rgregular';
		font-size: 14px;
		font-weight: 300;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.71;
		letter-spacing: 0.3px;
		color: #1f1f1f;      float: left;
		margin-left:8px;
		}.rightNav li {
			float: left; margin-right:23px;
	}
	.rightNav .nav-link{padding-right:0!important;padding-left:0!important;}
	li.nav-item {
			text-align: center;
			margin: 0px 5px;
			width: 108px;
	}



	/* second section */

	.secondSection { 
		background: url('../images/image-2.jpg') center center no-repeat;
    width: 100%;
    padding: 46px 70px;    position: relative;
		}
		.secondSection .whiteBorder{
			width: 100%;
			border: 18px solid #fff;    padding: 114px 60px 42px 80px;
	}
	.secondSection .whiteBorder .Share-your-travel {
		font-family: 'SimpleJoys';
		font-size: 120px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: -2.4px;
		color: #2da9dc;
		}
		.secondSection .whiteBorder .experience-with-us {
		font-family: 'proxima_nova_blblack';
		font-size: 63px;
		font-weight: 900;
		font-style: normal;margin-top: -28px;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #ffffff;    text-transform: uppercase; height: 116px;
		}
		.secondSection .whiteBorder input{
		width: 336px;
		height: 48px;
		box-shadow: 0 0 10px 0 rgba(231, 231, 231, 0.5);
		background-color: #ffffff;    padding: 0px;
		border-width: 0px; outline:0;    text-indent: 20px; margin-right:16px;
	}
	.secondSection .whiteBorder input:focus , .secondSection .whiteBorder .submitBT:focus{
		outline:0;
	}
	.Keyword-Job-Title-o ,.Country-State-or-Ci {
		width: 193.6px;
		height: 24px;
		font-family: 'proxima_nova_rgregular';
		font-size: 14px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.71;
		letter-spacing: 0.3px;
		color: #686868;
		}
		.secondSection .whiteBorder .submitBT{
		width: 144px;
		height: 48px;
		background-color: #2da9dc;
		border-width:0px;
		cursor: pointer;
	}
	.secondSection .whiteBorder .Find-Jobs {
		width: 72px;
		height: 24px;
		font-family: 'proxima_nova_rgregular';
		font-size: 16px;
		font-weight: 100;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.5;
		letter-spacing: 0.3px;
		color: #ffffff;    background-color:transparent;
		}
		.secondSection .whiteBorder .dots {
		margin: 0 auto;
			width: 108px;
		}
		.secondSection .whiteBorder .dots span{
			width: 10px;
			height: 10px;
			transform: rotate(-315deg);
			margin-right:10px;
			display: inline-block;
			border:1px solid #fff;
		}
		.secondSection .whiteBorder .dots span:first-child{
		background-color: #ffffff;
	}
	.secondSection .whiteBorder .secondSectionForm{
	margin-bottom:150px;
	}

	.secondSection .whiteBorder .Mask {
		width: 56px;
		height: 56px;
		background-color: var(--dark-sky-blue);
		}
		.secondSection .Group-32{
		position: absolute;
			right: 36px;
			bottom: 31px;
		}

		/* thirdSection */

		.thirdSection{
			width:100%;    height: 112px;
			padding:16px 80px;
			background-color:#0f4c97;
		}
		.thirdSection .Get-Personalized-Job {
			width: 836px;
			height: 48px;
			font-family: 'proxima_nova_rgregular';
			font-size: 24px;
			font-weight: bold;
			font-style: normal;
			font-stretch: normal;
			line-height: 2;
			letter-spacing: normal;
			color: #ffffff;
		}
		.thirdSection .Import-your-profile {
			width: 836px;
			height: 48px;
			font-family: 'proxima_nova_rgregular';
			font-size: 17px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			letter-spacing: normal;
			color: #ffffff;
		}
		.thirdSection .Rectangle-2-Copy {
			width: 224px;
			height: 44px;
			background-color: #ffffff;
		}
		.thirdSection .Connect-with-LinkedI {
			width: 224px;
			height: 44px;
			font-family: 'proxima_nova_rgregular';
			font-size: 16px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.25;
			letter-spacing: 0.3px;
			text-align: center;
			color: #006ac3;float: right;
			margin-top:18px;
		}
		.Connect-with-LinkedI .text-style-1 {
			font-weight: bold;
		}
		.forthSection{
			padding:120px 80px; overflow: auto;
		}

		.forthSection	.Choose-Your-Path {
			font-family: 'proxima_nova_rgregular';
			text-transform: uppercase;
			font-size: 32px;
			font-weight: 900;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: 0.5px;
			text-align: center;
			color: #3f3f3f;
			margin-bottom:40px;
		}
		.forthSection .headerimage {
			width: 408px;
			height: 460px;
		}
		.forthSection ul li{
			position: relative;
			display: inline-block;    float: left;
		}
		.forthSection ul li:nth-child(2){
			margin:0px 28px;
		}
		.forthSection ul li p{
			position: absolute;
			bottom:62px;
			left:0;
			right:0;
			margin:0 auto;
			font-family: 'proxima_nova_rgregular';
			font-size: 20px;
			font-weight: bold;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: -0.2px;
			text-align: center;
			color: #ffffff;
		}
		.forthSection	.Corporate-86- .text-style-1 {
			font-size: 18px;
			font-weight: 300;
		}
		.forthSection	.Group-20-Copy-11 {
			width: 163px;
			height: 12px;
			object-fit: contain;
			position: absolute;
			bottom:34px;
			left:0;
			right:0;
			margin:0 auto;
		}
		.forthSection		.mask {
			position: absolute;
			bottom:0px;
			width:100%;
			
			height: 274px;
			transform: rotate(-180deg);
			background-image: linear-gradient(to bottom, #000000, rgba(0, 0, 0, 0));
		}

		.fifthSection{
			padding:38px 80px 124px; overflow: auto;
		}
		.fifthSection .Rectangle {
			width: 320px;
			height: 320px;
			transform: rotate(-315deg);
			background-color: #ffffff;
			border:1px solid #e3e3e3;
		}
		.fifthSection .Rectangle img{
			transform: rotate(-45deg);
			margin:93px 135px 19px;
		}
		.fifthSection	.find-your-talent {
			font-family: 'proxima_nova_rgregular';
			font-size: 32px;
			font-weight: 900;
			font-style: normal;
			text-transform: uppercase;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: 0.5px;
			text-align: center;
			color: #3f3f3f;
		}
		.fifthSection 	.Work-from-Home {
			width: 173px;
			height: 24px;
			font-family: ProximaNova;
			font-size: 18px;
			font-weight: 600;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: -0.2px;
			text-align: center;
			color: #0f4c97;    transform: rotate(-45deg);
		}
		.fifthSection 	.Rectangle h5 {
			width: 34px;
			height: 20px;
			font-family: 'proxima_nova_rgregular';
			font-size: 16px;
			font-weight: 300;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: -0.2px;
			text-align: center;
			color: #3f3f3f;    transform: rotate(-45deg);
		}
		.sixthSection .sixthWrapper{

			width: 1440px;
			height: 560px;
		}
		.sixthSection p{
			text-transform: uppercase;
			font-family: 'proxima_nova_rgregular';
			color: #3f3f3f;
			font-size: 32px;
			font-weight: 900;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: 0.5px;
			text-align: center;
			margin-bottom:38px;
			
		}

		.sixthWrapper{		
			background: url('../images/bitmap-copy-3.jpg') center center no-repeat;
			height:560px; width:100%;
			padding:142px 242px;
		}
		  
		  .sixthSection  .Rectangle-Copy-6 {
			width: 100%;
			height: 308px;
			background-color: #ffffff;
			position:relative;
		  }
		  .sixthSection    .Bitmap-Copy-4 {
			width: 200px;
			height: 200px;
			object-fit: contain;
			position: absolute;
			top:-66px;
			left:84px;
		  }
		  .sixthSection    .Line-Copy {
			width: 80px;
			height: 1px;
			background: #d1d1d1;
			margin: 0 auto;
		  }.sixthSectionLeft{width:355px;
			height: 100%;    float: left;
			margin: 166px auto 0px;
		}
		.sixthSection   .Group-12-Copy-3 {
			width: 52px;
			height: 52px;
			object-fit: contain;
			position: absolute; left:-27px; top:128px;
		  }.sixthSection .Kate-Allison {
			margin: 0 auto;
			font-family: 'SimpleJoys';
			font-size: 44px;
			font-weight: normal;
			font-style: normal;
			text-transform: capitalize;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: -0.9px;
			text-align: center;
			color: #0f4c97;
			margin-top:14px;
		  }

		  .sixthSection   .Revenue-Manager-at-C {
			font-family: 'proxima_nova_rgregular';
			font-size: 14px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: normal;
			letter-spacing: normal;
			text-align: center;
			color: #3f3f3f;
		  }

		  .sixthSection   .Line-3-Copy {
			width: 2px;
    height: 228px;
    background: #ededed;
    float: right;
    position: absolute;
    left: 355px;
    top: 39px;
		  }

		  .sixthSection    .sixthSectionRight{
			  padding:67px 110px 0px 97px;
			  width:599px;
			  float:right;
		  }

		  .sixthSection 	  .People-will-most-li {
			font-family: 'ProximaNova-SemiboldIt';
			font-size: 24px;
			font-weight: 600;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.71;
			letter-spacing: normal;
			color: #3f3f3f;
			text-transform: inherit;
			;
		  }
		  .sixthSection   .Group-12-Copy-2 {
			width: 52px;
			height: 52px;
			object-fit: contain;position: absolute; right:-27px; top:128px;
		  }


		  .sixthSection  .dots {
			margin: 22px auto;
				width: 108px;
			}
			.sixthSection .dots span{
				width: 10px;
				height: 10px;
				transform: rotate(-315deg);
				margin-right:10px;
				display: inline-block;
				border:1px solid #fff;
			}
			.sixthSection .dots span:nth-child(2){
			background-color: #ffffff;
		}