
@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('../fonts/proxima_nova_regular.eot');
    src: url('../fonts/proxima_nova_regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima_nova_regular.woff2') format('woff2'),
         url('../fonts/proxima_nova_regular.woff') format('woff'),
         url('../fonts/proxima_nova_regular.ttf') format('truetype'),
         url('../fonts/proxima_nova_regular.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_nova_ltsemibold';
    src: url('../fonts/proxima_nova_semibold.eot');
    src: url('../fonts/proxima_nova_semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima_nova_semibold.woff2') format('woff2'),
         url('../fonts/proxima_nova_semibold.woff') format('woff'),
         url('../fonts/proxima_nova_semibold.ttf') format('truetype'),
         url('../fonts/proxima_nova_semibold.svg#proxima_nova_ltsemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_nova_blblack';
    src: url('../fonts/proxima_nova_black.eot');
    src: url('../fonts/proxima_nova_black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima_nova_black.woff2') format('woff2'),
         url('../fonts/proxima_nova_black.woff') format('woff'),
         url('../fonts/proxima_nova_black.ttf') format('truetype'),
         url('../fonts/proxima_nova_black.svg#proxima_nova_blblack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family: 'SimpleJoys';
	src: url('../fonts/SimpleJoys.svg#SimpleJoys') format('svg'),
		 url('../fonts/SimpleJoys.ttf') format('truetype'),
		 url('../fonts/SimpleJoys.woff') format('woff');
	font-weight: normal;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'simple_joys';
	src: url('../fonts/simple_joys.eot');
	src: url('../fonts/simple_joys.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/simple_joys.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
  }
  
  

/* Reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Reset css End */
.wrapper{
	max-width: 1440px;margin: 0 auto;     position: relative;
}
.wrapper .no-padding{
    padding-left: 0px;
    padding-right: 0px;
}
.wrapper .row{
	margin-right:0;
	margin-left:0;
}
.wrapper .Rectangle{
	height: 84px;
	background-color: #ffffff;
	    padding: 21px 80px;
}
.Hilton_Worldwide_logo {
	width: 114px;
	height: 42px;
	object-fit: contain;
  }
  .Careers {
	width: 114px;
	height: 24px;
	font-family: 'proxima_nova_ltsemibold';
	font-size: 20px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color:  #3f3f3f;
	float: right;
	margin-left:8px;
  }
  /* Nav Icons */
  .nav-item a{
  width:128px;
  font-family: 'proxima_nova_rgregular';
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color:  #3f3f3f !important;

}

.Group-3 {
	width: 18px;
	height: 16px;
	object-fit: contain;
  }.Group-2 {
	width: 17px;
	height: 17px;
	object-fit: contain;
  }.Group-2-Copy {
	width: 16px;
	height: 16px;
	object-fit: contain;
  }
  .rightNav {margin-left:94.5px;}
  .rightNav img{float: left;    margin-top: 3px;}
  .rightNav p{
	font-family: 'proxima_nova_rgregular';
	font-size: 14px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.71;
	letter-spacing: 0.3px;
	color: #1f1f1f;      float: left;
	margin-left:8px;
  }.rightNav li {
    float: left; margin-right:23px;
}
.rightNav .nav-link{padding-right:0!important;padding-left:0!important;}
li.nav-item {
    text-align: center;
    margin: 0px 5px;
    width: 108px;
}



/* second section */
.secondSection {
position: relative;
}
.secondSection .image-2 {
	max-width: 1440px;    z-index: -1;
	object-fit: contain;
	max-width: 100%;
	height: auto;
    position: absolute;
  }
  .secondSection .whiteBorder{
	margin: 56px 80px;
    border: 10px solid #fff;
    width: 89%;
    position: absolute;     padding: 114px 80px 20px;
}
.secondSection .whiteBorder .Share-your-travel {
	font-family: 'SimpleJoys';
	font-size: 120px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: -2.4px;
	color: #2da9dc;
  }
  .secondSection .whiteBorder .experience-with-us {
	font-family: 'proxima_nova_blblack';
	font-size: 63px;
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #ffffff;    text-transform: uppercase; height: 116px;
  }
  .secondSection .whiteBorder input{
  width: 336px;
  height: 48px;
  box-shadow: 0 0 10px 0 rgba(231, 231, 231, 0.5);
  background-color: #ffffff;    padding: 0px;
  border-width: 0px; outline:0;    text-indent: 20px; margin-right:16px;
}
.secondSection .whiteBorder input:focus , .secondSection .whiteBorder .submitBT:focus{
	outline:0;
}
.Keyword-Job-Title-o ,.Country-State-or-Ci {
	width: 193.6px;
	height: 24px;
	font-family: 'proxima_nova_rgregular';
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.71;
	letter-spacing: 0.3px;
	color: #686868;
  }
  .secondSection .whiteBorder .submitBT{
  width: 144px;
  height: 48px;
  background-color: #2da9dc;
  border-width:0px;
}
.secondSection .whiteBorder .Find-Jobs {
	width: 72px;
	height: 24px;
	font-family: 'proxima_nova_rgregular';
	font-size: 16px;
	font-weight: 100;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.5;
	letter-spacing: 0.3px;
	color: #ffffff;    background-color:transparent;
  }
  .secondSection .whiteBorder .dots {
	margin: 0 auto;
    width: 108px;
  }
  .secondSection .whiteBorder .dots span{
		width: 10px;
		height: 10px;
		transform: rotate(-315deg);
		margin-right:14px;
		display: inline-block;
		border:1px solid #fff;
  }
  .secondSection .whiteBorder .dots span:first-child{
	background-color: #ffffff;
}
.secondSection .whiteBorder .secondSectionForm{
margin-bottom:150px;
}

.secondSection .whiteBorder .Mask {
	width: 56px;
	height: 56px;
	background-color: var(--dark-sky-blue);
  }
  .secondSection .Group-32{
	position: absolute;
    right: 36px;
    bottom: 31px;
  }